# Creation of Embeddings

# Setup

In [10]:
import pandas as pd
import os
import sys
from dotenv import load_dotenv
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

project_root = os.path.abspath('..')
if project_root not in sys.path:
    sys.path.insert(0, project_root)
from utils import get_table_from_supabase

#get keys from env
load_dotenv()
url = os.getenv("SUPABASE_URL")
key = os.getenv("SUPABASE_KEY")

# Retrieving Data from Supabase and Building Dataframes

I will connect to Supabase and retrieve all records, in order to isolate the text data that I will use for my embeddings.

In [11]:
# #get tables and build dataframes
# tables = ["funders", "grants",]

# for table in tables:
#     globals()[table] = get_table_from_supabase(url, key, table)

# #get recipients with filter
# recipients = get_table_from_supabase(url, key, "recipients", batch_size=50, filter_recipients=True)

# print(f"Loaded {len(funders)} funders, {len(recipients)} recipients, {len(grants)} grants")

In [12]:
#temporary - get small sample to test stuff

tables = ["funders", "grants"]

for table in tables:
    globals()[table] = get_table_from_supabase(url, key, table).head(100)

#get recipients with filter
recipients = get_table_from_supabase(url, key, "recipients", batch_size=50, filter_recipients=True).head(100)

print(f"Loaded {len(funders)} funders, {len(recipients)} recipients, {len(grants)} grants")

Loaded 100 funders, 100 recipients, 100 grants

In [13]:
recipients_df = recipients.copy()
funders_df = funders.copy()
grants_df = grants.copy()

In [19]:
recipients_df = recipients_df[["recipient_id", "recipient_name", "recipient_activities"]]
funders_df = funders_df[["registered_num", "name", "activities", "objectives", "objectives_activities", "achievements_performance", "grant_policy"]]
grants_df = grants_df[["grant_id", "grant_title", "grant_desc"]]

In [20]:
recipients_df.head()

,recipient_id,recipient_name,recipient_activities
0,200359,MEATH EPILEPSY CHARITY,THE MEATH EPILEPSY TRUST PROVIDES FULLY SUPPOR...
1,PDF-004538,"BURSARY SCHEME WHICH ENABLES PARENTS, WHO OTHE...",None
2,PDF-004539,SHREWSBURY FLAXMILL,None
3,PDF-004540,SOCIETY OF FRIENDS SCHOOL IN READING,None
4,PDF-004541,AVONCROFT MUSEUM OF BUILDINGS,None

In [21]:
funders_df.head()

,registered_num,name,activities,objectives,objectives_activities,achievements_performance,grant_policy
0,1074655,COMMUNITY FOUNDATION IN WALES,WE ARE DEDICATED TO PROMOTING PHILANTHROPY AND...,THE PROMOTION OF ANY CHARITABLE PURPOSES FOR T...,None,None,None
1,801682,WILL CHARITABLE TRUST,CARE OF AND SERVICES FOR PEOPLE SUFFERING FROM...,TO SUCH CHARITABLE INSTITUTIONS OR CHARITABLE ...,None,None,None
2,1193970,ALBERT GUBAY CHARITABLE FOUNDATION,THE CHARITY FUNDS PROJECTS RUN BY REGISTERED C...,(1)\tTHE TRUSTEES SHALL STAND POSSESSED OF THE...,None,None,None
3,273818,ROWAN BENTALL CHARITABLE TRUST ( R11 ),THE TRUSTEES SUPPORT CHARITIES IN SOUTHERN ENG...,THE BENEFIT OF SUCH EXCLUSIVELY CHARITABLE OBJ...,SUMMARY OF OBJECTIVES AS SET OUT IN THE GOVERN...,IN THE YEAR ENDED 5 APRIL 2024 THE TRUSTEES MA...,None
4,200051,ESMEE FAIRBAIRN FOUNDATION,WE ARE ONE OF THE LARGEST INDEPENDENT FOUNDATI...,TO FURTHER SUCH CHARITABLE PURPOSE OR PURPOSES...,AND ACTIVITIES VALUES OUR VALUES ACT AS A GUID...,None,None

In [22]:
grants_df.head()

,grant_id,grant_title,grant_desc
0,360G-BishopRadfordTrust-2022-23068,GRANT TO TUTELA AFRICA,A LEARNING RECOVERY PROGRAMME FOR 10 CHILDREN ...
1,360G-BishopRadfordTrust-2021-22_052,GRANT TO VIANINOS UK,FUNDING TOWARDS PARTNER ORGANISATION CENIT. T...
2,360G-BishopRadfordTrust-2021-22_046,GRANT TO THE BIG GIVE CHRISTMAS CHALLENGE,"FUNDING TOWARDS THE ""TOGETHER FUND"", A COLLABO..."
3,360G-BishopRadfordTrust-2021-22_043,GRANT TO ST CUTHMANS WHITEHAWK,TO SUPPORT COSTS ASSOCIATED WITH THE RUNNING C...
4,360G-BishopRadfordTrust-2021-22_038,GRANT TO PURPLE SHOOTS,"TO HELP US TO GROW , AND SPREAD THE SELF-RELIA..."